{% extends 'random_thought/layout.html' %}

{% block title %} Strona główna {% endblock title %}

{% block content %}

<style>
    h1{
        margin-left: auto;
        margin-right: auto;
        width: 10em;
        margin-top: 2cm;
    }

    p{
        text-align: center;
        font-size: x-large;
        font-style: oblique;
        padding: 2cm;



    }


    .my_button{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)

    }

</style>



<h1>Złota myśl na dziś: </h1>

<p>{{thought.body}}</p>



<a href="{% url 'random_thought:create_thought'%}"><button class="my_button">Dodaj swoją myśl</button></a>


{% endblock %}
